name: MISTAKE619 Cloud Media Engine
on:
  push:
    paths:
      - 'commands.sh'

jobs:
  heavy_processing:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg imagemagick # نصب ابزارهای مورد نیاز

      - name: Execute Commands
        run: |
          chmod +x commands.sh
          sudo ./commands.sh > result.log 2>&1

      - name: Auto-Commit Result
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add result.log output.jpg 2>/dev/null || echo "No output image yet"
          git commit -m "Update result" || echo "No changes"
          git push
          
